<!doctype html>
<html lang="en" ng-app="Auth">
  <head>
    <meta charset="utf-8">
    <title>My HTML File</title>
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/node_modules/bootstrap-social/bootstrap-social.css">
    <link href='/node_modules/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet'>
	  <link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet">
    <link rel="stylesheet" href="/views/registration/public/style.css">
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular/angular-route.js"></script>
    <script src="/views/registration/public/forms.js"></script>
    <!--<script src="script/controller.js"></script> -->
  </head>
  <body>
<div class="container">
	<div class="row">
	  <div class="col-md-6">
	      <form method="post" action="#" id="#">
              <div class="form-group files">
                <input type="file" class="form-control" multiple="">
              </div>
          </form>
	  </div>
	</div>
</div>
  </body>
</html>
